<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto con vue CDN</title>
    <!--PARA HACER COMENTARIOS-->
    <!-- -->
    <!--Agrego bootstrap-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    

    <div id="app" class="container-fluid mt-3">
            <div class="jumbotron">
                <h1>Bienvenidos a vue.JS CDN</h1>
                <hr>
                <h4><u>Interpolacion</u></h4>
                <ul>
                    <li v-for='(alumno,index) in alumnos '>
                        {{alumno.nombre}} {{alumno.apellido}}
                    </li>
                </ul>
                <br>
            </div>
            <button class="btn btn-warning my-3" @click="agregarAlumno()">Agregar alumno</button>    
            <div v-if="alumnos.length">    
                <div class="table-responsive">
                    <table class="table">
                        <tr class="bg-success text-white">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Curso</th>
                            <th>Foto</th>
                        </tr>
                        <tr class="bg-info text-white" v-for="(alumno,index) in alumnos ">
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.apellido}}</td>
                            <td>{{alumno.edad}}</td>
                            <td>{{alumno.curso}}</td>
                            <td>
                                <img :src='alumno.foto' width="50" :alt="alumno.nombre"> 
                            </td>
                        </tr>
                    </table>
                       
                    <div class="alert alert-info">
                        <!--Mensaje Ninguno hizo el curso -->
                        <div v-if="calcularAlumnosCurso.ninguno">
                            Ningun alumno hizo el curso
                        </div>
                        <!--Mensaje Todos hicieron el curso -->
                        <div v-else-if="calcularAlumnosCurso.todos">
                            Todos los alumnos hicieron el curso
                        </div>
                        <!-- Mensaje Algunos hicieron el curso -->
                        <div v-else>
                            {{calcularAlumnosCurso.cantidad}}  {{(calcularAlumnosCurso.uno)?'alumno hizo' : 'alumnos hicieron'}} el curso, de un total de {{calcularAlumnosCurso.total}}   
                        </div>
                        
                    </div> 

                </div>

                <br>
                <div class="media alert alert-primary" v-for="(alumno,index) in alumnos">
                    <img :src='alumno.foto' width="150" :alt="alumno.nombre">
                    <div class="media-body ml-3">
                        <h6><u>Alumno {{index +1}}</u></h6>
                        <br>
                        <p>Nombre: {{alumno.nombre}}</p>
                        <p>Apellido: {{alumno.apellido}}</p>
                        <p>Edad: <i>{{alumno.edad}}</i></p>
                        Hizo el curso <input type="checkbox" v-model="alumno.curso">
                        <!--agrego un botton para que llame al metodo borrar creado en vue -->
                        <button class="btn btn-danger ml-3" @click="borrar(index)">Borrar</button>
                    </div>
                </div>
            </div>
                <h1 v-else class="alert alert-warning">
                    No se encontraron alumnos
                </h1>
                <hr>


                <h4><u> v-if / v-else-if / v-else</u></h4>
                <h2>v-if / v-else-if / v-else</h2>
                <br>
                <input type="text" v-model="nombre"><br>
                <div class="btn btn-primary mt-3">
                    <div v-if="nombre.toLowerCase() == 'juan'">  
                        Bienvenido {{nombre}}
                    </div>
                    <div v-else-if="nombre.toLowerCase() == 'ana'">  
                        Bienvenida {{nombre}}
                    </div>
                    <div v-else-if="nombre.toLowerCase() == 'pedro'">  
                        Bienvenido {{nombre}}
                    </div>
                    <div v-else-if="nombre.length >=3">  
                        Hola {{nombre}}
                    </div>
                    <div v-else>
                        Ingrese Nombre
                    </div>
                </div>
                <hr>

                 <!--Directivas de atributo -->
                 <!--Cambiar aspecto de elementos con CSS-->
                 <h2>Directivas de atributo</h2>
                 <h4><u>:Style</u></h4>
                 <br>
                 <button class="btn btn-info my-3" @click= "estado1=!estado1">Cambiar</button>
                <p :style="{color: 'white', backgroundColor:estado1 ?'green':'red', borderRadius : '10px' , 
                padding:'10px'}">
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                     Doloremque iusto quibusdam 
                     repudiandae? Eveniet doloribus temporibus illum at delectus. 
                     Nulla doloribus omnis sit, ipsa laudantium nihil ipsam error 
                     aliquid maiores modi.
                 </p>

                 <h4><u>:class</u></h4>
                 <br>
                 <button class="btn btn-info my-3" @click= "estado2=!estado2">Cambiar</button>
                <p :class="{'text-white':estado2,'text-orange': !estado2, 'bg-success':estado2, 'bg-danger': !estado2, 'p-2':true }">
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                     Doloremque iusto quibusdam 
                     repudiandae? Eveniet doloribus temporibus illum at delectus. 
                     Nulla doloribus omnis sit, ipsa laudantium nihil ipsam error 
                     aliquid maiores modi.
                 </p>
                 <hr>
                 <!--Componentes -->
                 <h2>Componentes</h2>
                 <br>
                 
                 <contador init="123" color="danger"></contador>
                 <contador init="456" color="warning"></contador>
                 <contador init="789" color="success"></contador>




        </div>  
    </div>      
    



     <!--agrego vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>


</body>
</html>